@page "/games"
@using CrpgP.WebApplication.Models;
@using CrpgP.WebApplication.Services
@inject ApiService ApiService

<PageTitle>Games</PageTitle>

<h3>Games</h3>

@if (_games == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    foreach (var game in _games)
    {
        @game.Name
        <br>
        
        <ContentBox
            DisplayName=@game.Name
            Slug="slug"
            ImagePath="path"
        />
    }
}

@* @if (_game != null) *@
@* { *@
@*     <div> *@
@*         <span>Game Name: @_game.Name</span> *@
@*         <span>Portrait Width: @_game.PortraitSize.Width</span> *@
@*         <span>Portrait Height: @_game.PortraitSize.Height</span> *@
@*         <span>Tags: @_game.Tags</span> *@
@*     </div> *@
@* } *@


@code {
    private IEnumerable<GameModel>? _games;

    protected override async Task OnInitializedAsync()
    {
        _games = await ApiService.GetAllGames();
    }
}